{lib_dirs, [
%	"deps/cowboy",
%	"deps/cowlib",
%	"deps/goldrush",
%	"deps/jsonx",
%	"deps/lager",
%	"deps/ranch",
%	"deps/uuid",
]}.

{deps,
	[
%		{cowboy, ".*", {git, "git@github.com:ninenines/cowboy.git", {tag, "1.0.1"}}},
%		{lager, "", {git, "git@github.com:basho/lager.git", {branch, "master"}}},
%		{jsonx, "", {git, "git@github.com:iskra/jsonx.git", {branch, "master"}}},
%		{uuid, "", {git, "git@github.com:avtobiff/erlang-uuid.git", {branch, "master"}}},
%		{eredis, "", {git, "git@github.com:wooga/eredis.git", {branch, "master"}}}
	]
}.

{erl_opts, []}.